.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
.dark-text {
  color: var(--dark-1);
}
.bright-text {
  color: var(--white);
}
.main > *:first-child {
  padding-top: 6rem;
}
.icon {
  object-fit: contain;
}
