/* slideshow splide */
/* SPLIDE */
.splide {
  height: 40vh;
  width: 100%;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.splide__arrow {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 2rem;
  padding: 5px;
}
.splide__arrow svg {
  fill: hsl(0, 0%, 0%);
  height: 2.5em;
  transition: fill 0.2s linear;
  width: 2.5em;
}
/* HERO */
.hero {
  background: linear-gradient(150deg, rgb(227, 225, 215), rgb(229, 229, 194));
}
.hero__text-features-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__text-inner-wrapper > *:first-child {
  margin-bottom: 2rem;
}
.hero__feature {
  background-color: hsla(18, 85%, 42%, 0.1);
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
.hero__feature .icon {
  float: left;
}
/* splash screen */
.splash-screen {
  position: fixed;
  z-index: 50;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background: linear-gradient(150deg, rgb(242, 238, 222), rgb(201, 201, 179));
  gap: 3rem;
  animation: splash-screen 1s forwards;
  animation-delay: 4s;
}
@keyframes splash-screen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.splash-screen__logo {
  place-self: center;
  width: 200px;
  animation: splash-screen-logo 2s forwards;
}
@keyframes splash-screen-logo {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.splash-screen__heading {
  text-align: center;
  font-size: clamp(4rem, 7vw, 8rem);
  color: var(--dark-1);
  animation: splash-screen-heading 2s forwards;
}
@keyframes splash-screen-heading {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;

    transform: translateX(0%);
  }
}
/* APARTMANI */
.apartmani {
  background-color: hsl(215, 43%, 79%);
}
.apartmani__body {
  display: grid;
  gap: 3rem;
}
.apartmani__thumbnail {
  position: relative;
  height: 30vh;
  border-radius: 0.5rem;
  overflow: hidden;
  outline: 3px solid grey;
  outline-offset: -0.5rem;
}
.apartmani__thumbnail:hover .apartmani-thumbnail__heading {
  transition: 1s;
  font-size: 6rem;
}
.apartmani__thumbnail::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(237, 237, 237, 0.608),
    transparent
  );
  transform-origin: center;
  transform: scale(0.7);
  opacity: 0;
  transition: 1s;
}
.apartmani__thumbnail:hover::after {
  transform: scale(1);
  opacity: 1;
}
.apartmani__thumbnail::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.608), transparent);
}
.apartmani__overlay {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
/* contact */
.contact {
  background: linear-gradient(107deg, #fee5d9 -1.3%, #e1b9a6 102.11%);
}
.contact__wrapper {
  display: grid;
  gap: 2rem;
}
.contact__col--info {
  background: linear-gradient(135deg, #3f3f3f 5.3%, #5e5e5e 100.45%);
  padding: 2rem;
  border-radius: 0.5rem;
}
.contact__col--info__wrapper {
  display: grid;
  gap: 2rem;
}
.contact__col--info__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact__col--info__info .text-bright {
  margin-bottom: 0.5rem;
}
.socials {
  background: hsla(0, 0%, 0%, 0.231);
  padding: 1rem;
  border-radius: 10px;
}
.socials__wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.social .icon {
  width: 2rem;
  transition: 0.2s;
}
.social .icon:hover {
  scale: 1.3;
}
@media (min-width: 1100px) {
  .contact__wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: -2rem;
  }
  .contact__col--info {
    display: grid;
    height: 65%;
    margin: auto;
  }
}
