.single-apartman-main {
  background-color: hsl(215, 47%, 65%);
}
.single-apartman__wrapper {
  display: grid;
  padding-block: 3rem;
  gap: 2rem;
}
.apartmani__thumbnail--banner {
  height: 46vh;
  border-radius: 0;
  user-select: none;
}
.apartmani__thumbnail--banner:hover {
  cursor: auto;
}
.apartmani__thumbnail--banner:hover .apartmani__overlay {
  /* user-select: none; */
}
.single-apartman__header {
  display: grid;
  gap: 1rem;
}
.single-apartman-header__info {
  display: flex;
  align-items: self-start;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 5px;
}
.single-apartman-header__info--single {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
}
.single-apartman-header__info img {
  object-fit: contain;
}
.single-apartman-header__info-row {
  display: grid;
  gap: 0.5rem;
}
.single-apartman-header__info-list {
  display: grid;
  gap: 0.5rem;
}
.single-apartman-header__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.single-apartman__body-text {
  display: grid;
  gap: 1.5rem;
}
.single-apartman-header__info--single-adresa {
  border: 2px solid var(--white);
}
@media (min-width: 1100px) {
  .single-apartman-header__info-wrapper {
    flex-direction: row;
  }
  .single-apartman-header__info--single-max-width {
    width: max-content;
  }
  .single-apartman__wrapper {
    padding-block: 6rem;
  }
  .single-apartman-main .apartmani-thumbnail__heading {
    position: absolute;
    bottom: 1.5rem;
    left: 8rem;
    font-size: 8rem;
  }
  .single-apartman-main:hover .apartmani-thumbnail__heading {
    font-size: 8rem;
  }
  .single-apartman-main .apartmani__thumbnail::after {
    position: static;
  }
}
